dump/
tools/LANOIRE-Tools
entries/
segments/
ghidra/
typings/
export/
models/

# Game files
*.sges
*.dds
*.fsb4
*.mp3
*.wav
*.ogv
*.pc
*.pack
*.trunk
*.fnt
*.bik
*.unknown

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
env/
